:root,
:host {
  --van-badge-size: 16px;
  --van-badge-color: var(--van-white);
  --van-badge-padding: 0 3px;
  --van-badge-font-size: var(--van-font-size-sm);
  --van-badge-font-weight: var(--van-font-bold);
  --van-badge-border-width: var(--van-border-width);
  --van-badge-border-radius: var(--van-radius-max);
  --van-badge-background: var(--van-danger-color);
  --van-badge-dot-color: var(--van-danger-color);
  --van-badge-dot-size: 8px;
  --van-badge-font: -apple-system-font, helvetica neue, arial, sans-serif;
}

.van-badge {
  display: inline-block;
  box-sizing: border-box;
  min-width: var(--van-badge-size);
  padding: var(--van-badge-padding);
  color: var(--van-badge-color);
  font-weight: var(--van-badge-font-weight);
  font-size: var(--van-badge-font-size);
  font-family: var(--van-badge-font);
  line-height: 1.2;
  text-align: center;
  background: var(--van-badge-background);
  border-radius: var(--van-radius-max);
  height: .26rem;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  overflow: visible;
  vertical-align: middle;
  position: relative;

  &--fixed {
    position: absolute;
    transform-origin: 100%;
  }

  &--top-left {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--top-center {
    top: 0;
    left: 50%;
    transform: translateY(-50%);
  }

  &--top-right {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }

  &--bottom-center {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }

  &--dot {
    width: var(--van-badge-dot-size);
    min-width: 0;
    height: var(--van-badge-dot-size);
    background: var(--van-badge-dot-color);
    border-radius: 100%;
    border: none;
    padding: 0;
  }

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  &__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -.06rem;
    z-index: 20;
    left: 0;
    width: 0;
    height: 0;
    border-left: .079rem solid var(--van-badge-background);
    border-top: .066rem solid transparent;
    border-bottom: .066rem solid transparent;
    font-size: 0;
  }
}
