:root,
:host {
  --van-select-options-active-background: var(--van-background-2);
  --van-select-options-hover-background: var(--van-background-1);
  --van-select-options-option-color: var(--van-text-color);
  --van-select-options-active-color: var(--van-primary-color);
}


.van-select-options__option {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--van-select-options-option-color);
  font-size: .24rem;
  padding: 0 .2rem;
  cursor: pointer
}

.van-select-options__option:hover {
  background-color: var(--van-select-options-hover-background)
}

.van-select-options__option--active {
  color: var(--van-select-options-active-color);
  background-color: var(--van-select-options-active-background)
}

.van-select-options__option-content {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  flex: 1
}