:root,
:host {
  --van-select-single-background: var(--van-background-2);
  --van-select-single-content-color: var(--van-text-color);
  --van-select-signle-content-has-content: var(--van-primary-color);
  --van-select-input-readonly-background: var(--van-background-1);
  --van-select-input-star-sign: var(--van-background-3);
}

.van-select-single {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--van-select-single-background);
  padding: 0 .2rem;
  box-sizing: border-box;
  border-radius: .1rem
}

.van-select-single__content {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--van-select-single-content-color)
}

.van-select-single__content--has-content {
  color: var(--van-select-signle-content-has-content)
}

.van-select-single__prefix {
  padding-right: .1rem
}

[dir=rtl] .van-select-single__prefix {
  padding-right: 0;
  padding-left: .1rem
}

.van-select-single__suffix {
  padding-left: .2rem
}

[dir=rtl] .van-select-single__suffix {
  padding-left: 0;
  padding-right: .2rem
}

.van-select-single--isReadOnly {
  background-color: var(--van-select-input-readonly-background)
}

.van-select-single__prefix,.van-select-single__suffix {
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  opacity: 1
}

.van-select-single__star-sign {
  color: var(--van-select-input-star-sign);
  width: .12rem;
  height: 100%;
  display: flex;
  align-items: center
}