:root,
:host {
  --van-overlay-z-index: 1;
  --van-overlay-background: rgba(0, 0, 0, 0.7);
}

.van-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--van-overlay-z-index);
  width: 100%;
  height: 100%;
  background: var(--van-overlay-background);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: none;
  &.isShowFrostedGlassEffect {
    backdrop-filter: blur(10px);
  }
}

.van-overlay[data-hidden="1"] {
  --ui-overlay-background: rgba(0, 0, 0, 0);
  pointer-events: none;
  background: transparent;
}

.van-overlay[data-hidden="1"]>* {
  pointer-events: auto
}
