:root,
:host {
  --van-select-custom-option-background-color: var(--van-background);
  --van-select-custom-option-defult-info: var(--van-primary-color);
  --van-select-custom-option-item-color: var(--van-text-color);
  --van-select-custom-option-item-active-color: var(--van-active-color);
  --van-select-custom-option-defult-info-margin: 5px 5px 5px 0;
  --van-select-custom-option-font-size: 15px;
  --van-select-custom-option-title-font-size: 14px;
}


.van-select-custom-option {
  box-shadow: 0 .04rem .12rem rgba(0, 0, 0, .1);
  background: var(--van-select-custom-option-background-color, var(--van-background-2));
  padding: .2rem .2rem .15rem;
  display: flex;
  flex-direction: column;
  min-width: 4.2rem;

  &__default-info {
    color: var(--van-select-custom-option-defult-info);
    margin: var(--van-select-custom-option-defult-info-margin);
    font-size: .22rem;
    max-width: 3.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__nameItem {
    color: var(--van-select-custom-option-item-color, var(--van-text-color));
    display: flex;
    align-items: center;
    gap: .1rem;
    height: .8rem;

    &._active {
      color: var(--van-select-custom-option-item-active-color, var(--van-primary-color));
    }

    ._item-icon {
      font-size: var(--van-select-custom-option-font-size);
      width: var(--van-select-custom-option-font-size);
      height: var(--van-select-custom-option-font-size);
    }

    ._item-title {
      font-size: var(--van-select-custom-option-title-font-size);
    }

    ._item-content {
      max-width: 3.36rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

[dir='rtl'] {
  .van-select-custom-option {
    ._item-email {
      unicode-bidi: plaintext;
    }
  }
}